


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/*Nav section*/

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.li-1{
    list-style: none;
}
a{
    text-decoration: none;
}
.ul-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
/*header section*/
.h-styles{
    font-size: 65px;
    font-weight: bold;

}
.h-color{
    color:#E95A08 ;
}
.p-styles{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: regular;
}
.header-container{
    display: flex;
}
/*main-part-1*/
.h-plants{
font-size: 50px;
font-weight: bold;
}
/*card*/

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.flower-card{
    width: 270px;
    height: 485px;
}

.card-text{
    text-align: center;
}


.flower{
    text-align: center;
    font-size: 22px;
    color: #111111;
}
.money{
    font-size: 22px;
    font-weight: bold;
}
.btn-primary{
    background-color: #E95A08;
    color:#FFFFFF ;
    border: none;
    width: 270px;
    height: 50px;
}
/*main-part-two*/
/*challenging*/
.clng-container{
    display: flex;
    justify-content: center;
    gap: auto;
}
.main-img-container{
      position: relative;
      display: inline-block;
      
    }
    .main-img{
        width: 540px;
        height: 597px;
    }

.badge{
    position: absolute;
      top: -120px;
      right:-120px;
      width: 286px;
}
.plants-lover{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: regular;
}
.head-plants{
    font-size: 50px;
    font-weight: bold;
}
/*main-part-three*/

.section-three{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 28px;
}


.bg-one{
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 366px;
  height: 201px;
  border-radius: 20px;
  margin-bottom: 12.5px;
}
.bg-two{
    background-image: url('../assets/deal-ana.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 366px;
    height: 197px;
    border-radius: 20px;
    margin-top: 12.5px;
}
.one-text{
    text-align: center;
    padding-top: 65px;
}
.link-text{
    text-align: center;
    padding-left: 144.5px;
    padding-top: 84px;

}
.bg-three{
    background-image: url(../assets/deal-zabo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 753px;
    height: 423.13px;
    border-radius: 20px;
    overflow: hidden;
}
.two-text{
    color:#FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding-left:128px;
    padding-top:172.12px ;

}
.link-two{
    padding-left: 308px;
    padding-top: 237.12px;


}
/*footer*/


.bg-four{
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:533px;

    margin-right: 0;
    overflow: hidden;
}
.ftr-bg-text{
    padding-top: 199px;
    padding-left: 427px;

}
.subscriber-box{
    padding-left: 305px;
}


.subscriber-box{
    width: 100%;
    height: 100vh;
    
}
form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
   background: #E95A08; 
   border: none;
   outline: none;
   padding: 10px 50px;
   color:#fff;
   
   cursor: pointer;
}
.lst-footer-container{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    overflow: hidden;
}
.logo-footer{
    display: flex;
    gap: 20px;
}
.footer-list{
    list-style: none;
    
}
a{
color: #6B7280;
}