


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/*Nav section*/

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-left: 160px;
    margin-right: 110px;
}
@media screen and (max-width: 576px) {
  .hidden {
    display: none;
  }

  nav {

    margin:0 auto;
    align-items: center;
  }


  .li-1 {
    text-align: center;
  }

  .li-1 img {
    width: 30px;
  }
}


.li-1{
    list-style: none;
}
a{
    text-decoration: none;
}
.ul-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
/*header section*/
.h-styles{
    font-size: 65px;
    font-weight: bold;

}
.h-color{
    color:#E95A08 ;
}

    

.header-container{
    width: 1193px;
    height:461px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    padding-right: 26px;
    
    margin-top: 220px;

    margin-left: 150px;
    
}
@media screen and (max-width: 576px) {
  .header-container {
    display: flex;
    
    flex-direction: column;
    flex-direction: column-reverse;
 
    align-items: center;
    justify-content: center;
    margin: 30px 15px;
    padding: 10px;
    gap: 20px;
    width: 100%;
    margin: 0;
  }

  .h-styles {
    font-size: 36px;

  }

  .footer-text {
    font-size: 16px;

    line-height: 1.6;
  }

  .header-img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }
}

.header-img{
    width: 100%;

}

/*main-part-1*/
.h-plants{
font-size: 50px;
font-weight: bold;
}
/*card*/

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
@media screen and (max-width:576px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: 0;
    }
    .flower-card{
        width: 171px;
        height:340.5px;
    }
    
}
.flower-card:hover{
    width:280px ;
height: 490px;

    border:5px solid #FFFFFF;
    box-shadow: 10px 10px 10px silver;
}

.flower-card{
    width: 270px;
    height: 485px;
}

.card-text{
    text-align: center;
}


.flower{
    text-align: center;
    font-size: 22px;
    color: #111111;
}
.money{
    font-size: 22px;
    font-weight: bold;
}
.btn-primary{
    background-color: #E95A08;
    color:#FFFFFF ;
    border: none;
    width: 270px;
    height: 50px;
}
/*main-part-two*/
/*challenging*/
.clng-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: auto;
    margin-top: 210.13px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 100px;
}
.main-img-container{
      position: relative;
      display: inline-block;
      
    }
    .main-img{
        width: 540px;
        height: 597px;
    }

.badge{
    position: absolute;
      top: -120px;
      right:-120px;
      width: 286px;
}
@media screen and (max-width:576px) {
    .clng-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;

    }
    .badge{
        display: none;
    }
    
}
.plants-lover{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: regular;
}
.head-plants{
    font-size: 50px;
    font-weight: bold;
}
/*main-part-three*/

.h-plants{
    text-align: center;
}
.p-styles{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: regular;
}

.section-three{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 28px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 120px;
}


.bg-one{
    background-image: url('../assets/deal-bloom.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 366px;
  height: 201px;
  border-radius: 20px;
  margin-bottom: 12.5px;
}


.bg-two{
    background-image: url('../assets/deal-ana.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 366px;
    height: 197px;
    border-radius: 20px;
    margin-top: 12.5px;
}
.one-text{
    text-align: center;
    padding-top: 65px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.link-text{
    text-align: center;
    padding-left: 144.5px;
    padding-top: 84px;
    color: #FFFFFF;

}

.bg-three{
    background-image: url(../assets/deal-zabo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 753px;
    height: 423.13px;
    border-radius: 20px;
    overflow: hidden;
}
.two-text{
    color:#FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding-left:128px;
    padding-top:172.12px ;

}
.link-two{
    padding-left: 308px;
    padding-top: 237.12px;
    color: #FFFFFF;
    font-size: 28;
    font-weight: 700;
}

@media screen and (max-width:576px) {
    .section-three{
        display: flex;
        flex-direction: column;
        width: 100%;
    
        margin: 0 auto;
    }
    .bg-two{
        margin: 0;
    }
.bg-three{

    width: 366px;
    height: 197px;
    border-radius: 20px;
    margin-top: 12.5px;
    
}
.two-text{
    text-align: center;
    padding-top: 65px;
    padding-right: 30px;
    padding-left: 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    
}
.link-two{
    text-align: center;
    padding-left: 144.5px;
    padding-top: 84px;
    color: #FFFFFF;
}


        
    }
    



/*footer*/


.bg-four{
    background-image: url(../assets/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:533px;

    margin-right: 0;
    overflow: hidden;
}
.ftr-bg-text{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
    padding-top: 199px;
    padding-left: 427px;

}



.subscriber-box{
    width:830px;
    height: 50px;
    padding-left: 420px;
}
.email-flex{
    padding-left: 20px;
}

form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
   background: #E95A08; 
   border: none;
   outline: none;
   padding: 10px 50px;
   color:#fff;
   
   cursor: pointer;
}

@media screen and (max-width:576px) {
    .bg-four{
        width: 576px;
        height: 276px;
        margin: 0;
        margin-top: 20px;
        }
        .ftr-bg-text{
            color: #FFFFFF;
            font-size: 20px;
            padding-top: 110.5px;
            padding-left: 100px;
            padding-right: 79px;
        }
        .subscriber-box{
        width:321px;
            height:50px;
            padding-left:50px;
            
            }
            form{
    background: #fff;
    width: 321px;
    height: 50px;
            }
            form button{
                padding: 10px;
            }

    
}
    

.lst-footer-container{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    overflow: hidden;
}
.logo-footer{
    display: flex;
    gap: 20px;
}
.footer-list{
    list-style: none;
    
}
a{
color: #6B7280;
}
.footer-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
@media screen and (max-width:576px) {
    .lst-footer-container{
        display:block;
        margin: 0;
        margin-top: 40px;
    
    }
    .logo-footer{
        margin-left: 30px;
    }
    .ftr-text{
        text-align: left;
        margin-left: 30px;
    }
    .lst-logo{
        margin-left: 30px;
    }
}